# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
/.pnp
.pnp.*
.yarn/*

# testing
**/coverage

# next.js
**/dist
**/.next/
/out/

#firebase 
firebase.json
.firebaserc
firebase-services-account.json

# Ignore compiled JS files inside the src directory
biz-forecaster-api/src/**/*.js
biz-forecaster-api/src/**/*.js.map

# docs folder
/docs/

#GEMINI
GEMINI.md

#bluebrint
blueprint.md
ARCHITECTURE.md

# production
**/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Google Cloud credentials
*firebase-adminsdk.json
